/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

:root {
  --color-primary: #eb2f64;
  --color-Primary-light: #ff3366;
  --color-Primary-dark: #ba265d;
  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;
  --line: 1px solid var(--color-Grey-light-2);
  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-Grey-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-Primary-light), var(--color-Primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-Grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem; }
    .search-input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-Grey-light-3); }
    .search-input ::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-Grey-light-4); }
  .search-input:focus + .search-button {
    background-color: var(--color-Grey-light-3); }
  .search-button {
    border: none;
    background-color: var(--color-Grey-light-2); }
    .search-button:focus {
      outline: none; }
    .search-button:active {
      transform: translateY(2px); }
  .search-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3); }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-Grey-light-2); }
  .user-nav-icon-box {
    position: relative; }
  .user-nav-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-Grey-dark-2); }
  .user-nav-notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav-user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav-item {
    position: relative; }
    .side-nav-item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center;
    transition: all 0.2s 0.2s; }
  .side-nav-item:hover::before, .side-nav-item-active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav-item:active:before {
    background-color: var(--color-Primary-light); }
  .side-nav-link:link, .side-nav-link:visited {
    color: var(--color-Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    display: flex;
    position: relative;
    align-items: center;
    padding: 1.5rem 3rem;
    z-index: 10; }
  .side-nav-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-Grey-light-1);
    margin-right: 2rem; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-Grey-light-4); }

.gallery {
  display: flex; }
  .gallery-photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center; }
  .overview-heading {
    color: #000000;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview-stars {
    margin-right: auto;
    display: flex; }
  .overview-icon-star, .overview-icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview-icon-location {
    margin-right: 0.5rem; }
  .overview-location {
    font-size: 1.2rem;
    display: flex; }
  .overview-rating {
    align-self: stretch;
    color: #fff;
    background-color: var(--color-primary);
    margin-left: 3rem;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .overview-rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: all 0.2s; }
  .btn-inline:hover {
    color: var(--color-Grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    background-color: transparent;
    outline: none;
    animation: pulsate 2s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.detail {
  color: black; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list-item {
    color: #000000;
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list-item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-Grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend-count {
    margin-right: auto; }
  .recommend-photo {
    width: 3rem;
    width: 3rem;
    box-sizing: content-box;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend-photo:not(:first-of-type) {
      margin-left: -0.9rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review-text {
    position: relative;
    z-index: 10; }
  .review-user {
    display: flex;
    align-items: center; }
  .review-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review-user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .review-user-box {
    margin-right: auto; }
  .review-user-date {
    font-size: 1rem;
    color: var(--color-Grey-dark-3); }
  .review-rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    color: var(--color-Grey-light-2);
    font-family: sans-serif;
    z-index: 1; }

.cta {
  padding: 3.5rem;
  text-align: center; }
  .cta-book-now {
    color: #000000;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  color: #fff;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark)); }
  .btn-visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    transition: all 0.2s;
    height: 100%;
    width: 100; }
  .btn-invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    height: 100%;
    text-align: center;
    width: 100;
    left: 0;
    top: -100%;
    transition: all 0.2s; }
  .btn:hover .btn-visible {
    transform: translateY(100%); }
  .btn:hover .btn-invisible {
    top: 0; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  min-height: 50rem;
  box-shadow: var(--shadow-dark); }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.content {
  color: var(--color-Grey-light-1);
  display: flex; }

.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);
  background-color: var(--color-Grey-light-1);
  font-size: 1.4rem; }

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
